.home__divForm__form__input{
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    padding: 1rem;
    font-family: Montserrat;
    font-size: 16px;
}

.home__divForm__form__input:focus, .home__divForm__form__input:hover{
    background: #e6e6e6bd;
}