.home__h1{
    color: white;
    font-size: 38px;
    font-weight: 800;
    margin-top: 4rem;
    max-width: 280px;
    text-align: center;
}

@media screen and (min-width: 500px){
    .home__h1{
        max-width: 450px;
        font-size: 60px
    }
}

@media screen and (min-width: 768px){
    .home__h1{
        max-width: 650px;
        font-size: 88px
    }
}

@media screen and (min-width: 1024px) {
    .home__h1{
        font-size: 50px;
        text-align: start;
        max-width: 400px;
        margin-top: 360px
    }
}