.home__divForm__form__submit{
    width: 200px;
    height: 50px;
    background-color: #23A6F0;
    color: white;
    font-family: Montserrat;
    border-radius: 5px;
    border: 0px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color ease-in-out .3s;
}

.home__divForm__form__submit:hover{
    background-color: #1b8dcf;
}

.home__divForm__form__submit:active{
    border: 2px solid black;
}

@media screen and (min-width: 500px){
    .home__divForm__form__submit{
        width: 370px;
        font-size: 18px;
    }
}

@media screen and (min-width: 768px){
    .home__divForm__form__submit{
        width: 550px;
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .home__divForm__form__submit{
        width: 320px;
    }
}