.home{
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://github.com/lucastoll/LandingPageMedico/blob/main/assets/img/homebackgrounddesktop.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    height: auto;
}

@media screen and (min-width: 500px){
    .home{
        background-position: 13% 0%;
    }
}

@media screen and (min-width: 768px){
    .home{
        background-position: 45% 0%;
    }
}

@media screen and (min-width: 1024px){
    .home{
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 100px;
        justify-content: space-between;
        height: 100vh;
    }
}

@media screen and (min-width: 1440px){
    .home{
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}











