.creditos--wrapper{ /* Primeiro wrapper */
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 10px;
    width: 100vw;
    overflow: hidden;
}


.creditos__div{ /* segunda div, que fica no centro por causa da primeira*/
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: center;
    opacity: 0;
    position: relative;
    text-align: center;
    transform: translateY(-50px);
    transition: 2s all ease;
    width: 350px;
    height: 60px;
}

.creditos__div.visivel{ /* classe para fazer o scroll reveal da  .creditos__div*/
    transform: translateY(0);
    opacity: 1;
}

.creditos__div__starLeft{ /* Div que contém as estrelas da esquerda */
    position: absolute;
    margin-bottom: 5px;
}

.creditos__div__starRight{ /* Div que contém as estrelas da direita */
    margin-bottom: 5px;
    position: absolute;
    right: 45%;
}

.creditos__div__textoMeio{
    height: 20px;
    width: 0px;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}


@media screen and (min-width: 420px) {
    .creditos__div__starRight{
        right: 46%;
    }

    .creditos__div__textoMeio{
        font-size: 16px;
    }

    .creditos__div{
        width: 410px;
    }
}

.creditos__div__starLeft__fullStarLeft{ 
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
    position: absolute;
    margin-bottom: 5px;
    opacity: 0;
    transition: color 1.2s ease-in;
}

.creditos__div__starRight__fullStarRight{
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
    position: absolute;
    margin-bottom: 5px;
    opacity: 0;
    transition: color 1.2s ease-in;
}

.creditos__div__textoMeio__usergithub{
    margin-left: 5px;
    transition: color 1.2s ease-in;
}

@keyframes starFullMovingAnimation {
    0%{
        top: 0%;
    }
    50%{
        top: -35%;
    }
    100%{
        top: 35%;
    }
}

@keyframes starFullOpacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes textoMeioMobile{
    from{
        width: 0px;
    }
    to{
        width: 300px;
    }
}

@keyframes textoMeioResto{
    from{
        width: 0px;
    }
    to{
        width: 400px;
    }
}


@keyframes staresquerda {
    from{
        left: 47%;
    }
    to{
        left: 0%;
    }
}

@keyframes stardireita {
    from{
        right: 47%;
    }
    to{
        right: 0%;
    }
}


