.headermobile__lista{
    align-items: center;
    color: #737373;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 1.875rem;
    height: 0px;
    list-style: none;
    overflow: hidden;
    transition: 0.5s;
    margin: 1.5rem 0px;
}

@media screen and (min-width: 500px){
    .headermobile__lista{
        font-size: 20px;
    }
}

