.newsletter__subscribe__button{
    height: 57px;
    width: 118px;
    border: 0px;
    margin: 2px 1px 2px 0px;
    background: #23A6F0;
    border-radius: 0px 4px 4px 0px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 14px;
    transition: background ease-in-out .3s;
}

.newsletter__subscribe__button:hover{
    background: #1b8dcf;
}

.newsletter__subscribe__button:active{
    border: 1px solid rgb(0, 0, 0);
}
