.testimonial{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 50px 50px 50px;
}

.testimonial__carousel{
    max-width: 370px;
    opacity: 1s;
    transition: all 2s ease;
}

.testimonial__carousel:hover{
    cursor: grab;
}

.testimonial__carousel:active{
    cursor: grabbing;
}

.testimonial__carousel--invisivel{
    position: relative;
    transform: translateY(150px); 
    opacity: 0;
}

@media screen and (min-width: 1024px) {
    .testimonial__carousel{
        max-width: 1300px;
    }

    .testimonial__carousel--invisivel{
        transform: translateX(-150px); 
    }
}