.testimonial__box__fotocliente{
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
}

.testimonial__box__fotocliente--wrapper{
    padding: 3px;
    border-radius: 50%;
    background: #a1a1a1;
}