.testimonial__paragrafo{
    color: #737373;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 75px;
    max-width: 70vw;
}

@media screen and (min-width: 768px){
    .testimonial__paragrafo{
        font-size: 22px;
    }
}