.popUp{
    align-items: center;
    background: rgba(0,0,0,0.7);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0px;
    position: fixed;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2000;
}