.headerdeskop__lista{
    color: white;
    font-size: 20px;
    display: flex;
    list-style: none;
    width: 300px;
    gap: 20px;
}

.headerdeskop__lista li{
    transition: all ease-in-out 0.3s;
}

.headerdeskop__lista li:hover{
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    transform: scale(1.2);
}

