.wrapperheaderdesktop{
    display: none;
    position: absolute;
    width: 100%;
}

.headerdesktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    position: sticky;
}

@media screen and (min-width: 1024px) {
    .wrapperheaderdesktop{
        display: block;
    }
}

.linkHeaderDesktop{
    color: white;
}