.cases__caseBox__top__img{
    background-image: url(https://github.com/lucastoll/LandingPageMedico/blob/main/assets/img/cases-mobile.png);
    background-size: 60px;
    height: 60px;
    width: 60px;
}

@media screen and (min-width: 1024px){
    .cases__caseBox__top__img{
        background-image: url(https://github.com/lucastoll/LandingPageMedico/blob/main/assets/img/cases-desktop.png);
    }
}